* {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;

}

/* banner */

.banner {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#slideImg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: zoom 3s linear infinite;
}
@keyframes zoom {
    0% { transform: scale(1.3); }
    15% { transform: scale(1); }
    85% { transform: scale(1); }
    100% { transform: scale(1.3); }
}

/* navbar */
.overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}
.navbar {
    width: 85%;
    display: flex;
    margin: 35px auto;
    align-items: center;   
}
.logo {
    flex-basis: 15%;
}
.logo img {
    width: 120px;
    color: white;
}
.menu-icons {
    text-align: right;
    flex: 1;
    align-items: center;
}
.menu-icons i {
    width: 20px;
    margin-left: 40px;
    color: white;
}
.content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 160px;
}
.content h1 {
    font-size: 60px;
}
.content h5 {
    font-weight: 100;
    margin: 20px auto 100px;
    width: 80%;
    line-height: 25px;
}
button {
    width: 200px;
    padding: 15px 0;
    margin: 0 10px !important;
    border-radius: 25px !important;
    text-align: center;
    outline: none;
    border: none;
    background-color: #fe7240;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: backgroun 0.5s;
}
button:hover {
    background-color: transparent;
    border: 2px solid #fff;

}
.btn-2 {
    background-color: transparent;
    border: 2px solid #fff;

}
.btn-2:hover {
    background-color: #fe7240;
    border: 2px solid #fe7240;
}
@media screen and (min-width: 769px) {
    .content {
        padding: 100px;
    }
    .btn-2 {
        margin: 15px !important;
    }
}
@media screen and (min-width: 320px) {
    .content {
        padding: 50px;
        width: 100%;
        font-size: 12px;
    }
    button {
        padding: 25px;
        margin: 0 15px !important;
    }
    .btn-2 {
        margin: 15px !important;
    }
}
@media screen and (max-width: 1024px) {
    .content {
        padding: 5px;
        width: 100%;
        font-size: 12px;
    }
    button {
        padding: 25px;
        margin: 0 15px !important;
    }
    .btn-2 {
        margin: 15px !important;
    }
}
@media screen and (min-width: 375px) {
    .content {
        padding: 5px;
        width: 80%;
    }
    button {
        padding: 15px;
        margin: 0 15px !important;
    }
    .btn-2 {
        margin: 15px !important;
    }
    .content h3 {
        font-size: 20px;
    }
    .content h1 {
        font-size: 30px;
    }
    .content p {
        font-size: 20px;
    }
}
.container {
    display: flex;
    }

    

    .brand-name {
        height: 150px;
        background-color: #000;
    }
    .brand-name h1 {
        color: white;
        text-align: center;
        line-height: 60px;
        width: 100%;
        font-size: 5em;
        transform: translateY(30px);
        font-family: sans-serif;
        letter-spacing: 0.2em;
    }
    h1 span {
        display: inline-block;
        animation: animate 1s linear infinite forwards;
        /* opacity: 0; */
    }
    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotateY(90deg);
            filter: blur(10px);
        }
        100% {
            opacity: 1;
            transform: rotateY(0deg);
            filter: blur(0px);
            
        }
    }

    video {
        object-fit: cover;
    }
    

